* {
  padding: 0%;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'OpenSans', sans-serif;
}

:root {
  --blue: #394357;
  --textPrimary: #384254;
  --textLight: #9BA0A9;
  --primary: #FFBB3F;
  --borderLight: #EEEEEE;
}

#root {
  overflow-x: hidden !important;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/open_sans/OpenSans-Light.ttf') format('tff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/open_sans/OpenSans-Regular.ttf') format('tff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/open_sans/OpenSans-Italic.ttf') format('tff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/open_sans/OpenSans-Medium.ttf') format('tff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/open_sans/OpenSans-SemiBold.ttf') format('tff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/open_sans/OpenSans-Bold.ttf') format('tff');
  font-weight: 700;
  font-style: normal;
}



h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'OpenSans', sans-serif;
  color: var(--textPrimary);
}

p {
  color: var(--textPrimary);
}

.flex-responsive {
  display: flex;
}

.bgColor {
  background-color: var(--borderLight);
}

body .container {
  /* max-width: 1400px; */
  max-width: 1200px;
  position: relative;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(var(--bs-gutter-x)*.5) !important;
  padding-right: calc(var(--bs-gutter-x)*.5) !important;
  width: 100%;
}

.main-section {
  padding: 70px 0;
}

@media (max-width: 1400px) {
  body .container {
    max-width: 1200px;
  }
}

@media (max-width: 1200px) {
  body .container {
    max-width: 1000px;
  }

  .main-section {
    padding: 60px 0;
  }
}

@media (max-width: 992px) {


  body .container {
    max-width: 912px;
  }

  .main-section {
    padding: 50px 0;
  }
}

@media (max-width: 768px) {
  .flex-responsive {
    flex-direction: column;
  }

  body .container {
    max-width: 720px;
  }

  .main-section {
    padding: 40px 0;
  }
}

@media (max-width: 576px) {
  body .container {
    max-width: 540px;
  }

  .main-section {
    padding: 30px 0;
  }
}

.show-laptop,
.show-tablet,
.show-mobile {
  display: none;
}

@media (max-width: 992px) {
  .hide-laptop {
    display: none;
  }

  .show-laptop {
    display: block;
  }
}

@media (max-width: 768px) {
  .hide-tablet {
    display: none !important;
  }

  .show-tablet {
    display: block !important;
  }
}

@media (max-width: 576px) {
  .show-mobile {
    display: block;
  }

  .hide-mobile {
    display: none;
  }
}